<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql 2.0" invariant="Npgsql2" description=".Net Framework Data Provider for PostgresSql" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.10.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="testdb" providerName="Npgsql2" connectionString="Server=localhost;Port=5432;Database=GeoStatistics;Userid=postgres;Password=admin123;Protocol=3;SSL=true; Pooling=true;MinPoolSize=5;MaxPoolSize=50;Encoding=UNICODE;Timeout=20;SslMode=Allow;" />
	</connectionStrings>
</configuration>