<?xml version="1.0"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql 2.0" invariant="Npgsql2" description=".Net Framework Data Provider for PostgresSql" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.10.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="db" providerName="Npgsql2" connectionString="Server=localhost;Port=5432;Database=GeoStatistics;Userid=postgres;Password=admin123;Protocol=3;SSL=true; Pooling=true;MinPoolSize=5;MaxPoolSize=50;Encoding=UNICODE;Timeout=20;SslMode=Allow;" />
	</connectionStrings>	
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
	  <behaviors>
		  <endpointBehaviors>
			  <behavior name="webHttpBehavior">
				  <webHttp />
			  </behavior>
		  </endpointBehaviors>
		  <serviceBehaviors>
			  <behavior>
				  <serviceMetadata httpGetEnabled="true" />
				  <serviceDebug includeExceptionDetailInFaults="true" />
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
	  <bindings>
		  <webHttpBinding>
			  <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
		  </webHttpBinding>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_IStatisticsProvider" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				  <security mode="None">
					  <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
					  <message clientCredentialType="UserName" algorithmSuite="Default" />
				  </security>
			  </binding>
		  </basicHttpBinding>
	  </bindings>
	  <client>
		  <endpoint address="http://localhost:42136/INEStatisticsProvider.svc" 
					binding="basicHttpBinding" 
					bindingConfiguration="BasicHttpBinding_IStatisticsProvider" 
					contract="ProviderDataContracts.Metadata.Provider_Interfaces.IStatisticsProvider" 
					name="providerConfiguration" />
	  </client>
	  <services>
		  <service name="StatisticsServices.RestService.Statistics">
			  <endpoint address="" 
						binding="webHttpBinding" 
						bindingConfiguration="webHttpBindingWithJsonP" 
						contract="StatisticsServices.RestService.IStatistics" 
						behaviorConfiguration="webHttpBehavior" />
		  </service>

		  <service name="StatisticsProxyImpl.DefaultStatisticsProxyImpl">
			  <endpoint address=""
						binding="basicHttpBinding"
						contract="StatisticsProxyServiceDefenitions.interfaces.IStatisticsProxyService" />
		  </service>
		  

	  </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
